@use '../palette';
@use '../breakpoints';

.section-title {
  font-size: 32px;
  color: palette.$textLight;
}

.section-title-line {
  border-color: palette.$textDark;
  opacity: 20%;
  height: 0px;
  flex-grow: 1;
  align-self: center;
  @include breakpoints.md-max {
    display: none;
  }
}

.tech-pill {
  background-color: rgba(5, 255, 109, .15);
  border-radius: 20px;
  font-size: 12px;
  padding: 0px 12px;
  font-weight: 500;
  @include breakpoints.md-max {
    font-size: 8px;
    padding: 0px 8px;
  }
}
