---
import links from '../../data/links.json';
import Link from '../shared/Link.astro';
import GithubSVG from '../icons/github.astro';
import LinkedInSVG from '../icons/linkedin.astro';
---

<div id='header-section' class='header-layout'>
  <div class='header-layout' style='gap: 4px'>
    <p class='semi-bold name light'>Jason Gin</p>
    <p class='medium twenty light'>Software Engineer</p>
  </div>
  <p class='regular'>
    Hey there! I’m a computer science new grad from
    <Link class='action' href={links.northeastern}>Northeastern University</Link>
     with 1 year of professional experience as a software engineer.
  </p>
  <div class='flexbox row' style='gap: 32px'>
    <Link href={links.github}>
      <GithubSVG class='header-svg action' />
    </Link>

    <Link href={links.linkedin}>
      <LinkedInSVG class='header-svg action' />
    </Link>
  </div>
  <div class='header-layout' style='gap: 12px'>
    <Link href='./Resume.pdf'>
      <button class='header-btn action'>RESUME</button>
    </Link>
    <Link href='mailto:jasongin88@gmail.com'>
      <button class='header-btn action'>CONTACT ME</button>
    </Link>
  </div>
  <p class='medium twenty'>
    CURRENTLY WORKING ON:
    <a class='action regular twenty' href='#staple-recipes'>Staple Recipes</a>
  </p>
</div>
