---
import links from '../../data/links.json';
import Link from '../shared/Link.astro';
import SectionTitle from '../shared/SectionTitle.astro';
const languages = ['Python', 'Java', 'JavaScript', 'TypeScript', 'SQL', 'HTML', 'CSS', 'SCSS'];
const libraries = ['React', 'Express', 'Astro', 'Redux', 'Redux-Saga', 'Cypress', 'Jest', 'JUnit'];
const tools = [
  'Git',
  'GitHub',
  'AWS',
  'GCP',
  'Firebase',
  'Docker',
  'NGINX',
  'Vite',
  'Webpack',
  'Snowpack',
  'JIRA',
  'Figma',
];
---

<div id='skills-section' class='section-layout'>
  <SectionTitle>MOST PROFICIENT SKILLS</SectionTitle>
  <div class='skills-layout'>
    <div class='skills-list-layout'>
      <p class='skills-list-header'>Programming Languages</p>
      <div class='skills-list-layout content highlight'>
        {
          languages.map((lang) => (
            <Link class='skills-list-content' href={links[lang.toLowerCase() as keyof typeof links]}>
              {lang}
            </Link>
          ))
        }
      </div>
    </div>
    <hr class='skills-divider' />
    <div class='skills-list-layout'>
      <p class='skills-list-header'>Libraries & Frameworks</p>
      <div class='skills-list-layout content highlight'>
        {
          libraries.map((lib) => (
            <Link class='skills-list-content' href={links[lib.toLowerCase() as keyof typeof links]}>
              {lib}
            </Link>
          ))
        }
      </div>
    </div>
    <hr class='skills-divider' />
    <div class='skills-list-layout'>
      <p class='skills-list-header'>Tools & Platforms</p>
      <div class='skills-list-layout content highlight'>
        {
          tools.map((tool) => (
            <Link class='skills-list-content' href={links[tool.toLowerCase() as keyof typeof links]}>
              {tool}
            </Link>
          ))
        }
      </div>
    </div>
  </div>
</div>
