---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/sections/Header.astro';
import ToC from '../components/sections/ToC.astro';
import Background from '../components/sections/Background.astro';
import Experience from '../components/sections/Experience/Experience.astro';
import Projects from '../components/sections/Projects/Projects.astro';
import Skills from '../components/sections/Skills.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout title='Jason Gin'>
  <main>
    <div class='content'>
      <Header />
      <span class='ellipsis'>&#8942;</span>
      <ToC />
      <span class='ellipsis'>&#8942;</span>
      <Background />
      <span class='ellipsis'>&#8942;</span>
      <Experience />
      <span class='ellipsis'>&#8942;</span>
      <Projects />
      <span class='ellipsis'>&#8942;</span>
      <Skills />
      <Footer />
    </div>
  </main>
</BaseLayout>
