---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/sections/Header.astro';
import ToC from '../components/sections/ToC.astro';
import Background from '../components/sections/Background.astro';
import Experience from '../components/sections/Experience/Experience.astro';
import FeaturedProjects from '../components/sections/Projects/FeaturedProjects.astro';
import OtherProjects from '../components/sections/Projects/OtherProjects.astro';
---

<BaseLayout title='Welcome to Astro.'>
  <main>
    <div class='content'>
      <Header />
      <span class='ellipsis'>&#8942;</span>
      <ToC />
      <span class='ellipsis'>&#8942;</span>
      <Background />
      <span class='ellipsis'>&#8942;</span>
      <Experience />
      <span class='ellipsis'>&#8942;</span>
      <FeaturedProjects />
      <span class='ellipsis'>&#8942;</span>
      <OtherProjects />
      <span class='ellipsis'>&#8942;</span>
    </div>
  </main>
</BaseLayout>
