---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import ToC from '../components/ToC.astro';
---

<BaseLayout title='Welcome to Astro.'>
  <main>
    <div class='content'>
      <Header />
      <span class='ellipsis'>&#8942;</span>
      <ToC />
      <span class='ellipsis'>&#8942;</span>
    </div>
  </main>
</BaseLayout>
