---
import links from '../data/links.json';
import GithubSVG from './icons/github.astro';
import LinkedInSVG from './icons/linkedin.astro';
---

<div class='header'>
  <div class='header' style='gap: 4px'>
    <p class='semi-bold name light'>Jason Gin</p>
    <p class='medium twenty light'>Software Engineer</p>
  </div>
  <p class='regular'>
    Hey there! I’m a computer science new grad from
    <a class='action' href={links.northeastern} target='_blank' rel='noopener noreferrer'>Northeastern University</a>
     with 1 year of professional experience as a software engineer.
  </p>
  <div class='flexbox row' style='gap: 32px'>
    <a href={links.github} target='_blank' rel='noopener noreferrer'>
      <GithubSVG class='header-svg action' />
    </a>

    <a href={links.linkedin} target='_blank' rel='noopener noreferrer'>
      <LinkedInSVG class='header-svg action' />
    </a>
  </div>
  <div class='header' style='gap: 12px'>
    <a href='/resume.pdf' target='_blank' rel='noopener noreferrer'>
      <button class='header-btn action'>RESUME</button>
    </a>
    <a href='mailto:jasongin88@gmail.com'>
      <button class='header-btn action'>CONTACT ME</button>
    </a>
  </div>
  <p class='medium twenty'>
    CURRENTLY WORKING ON:
    <a class='action' href='https://google.com' target='_blank' rel='noopener noreferrer'>Staple Recipes</a>
  </p>
</div>
