---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class='section-title-layout'>
  <p class='section-title medium'>{title.toUpperCase()}</p>
  <hr class='section-title-line' />
</div>
